<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/xacro">
	<xacro:property name="erlecopter_lidar_joint_1_origin_xyz" value="-0.04 0 0.065" />
	<xacro:property name="erlecopter_lidar_joint_1_origin_rpy" value="0.52359877559 0 0" />
	<xacro:property name="erlecopter_lidar_joint_1_axis_xyz" value="0 0.5 0.866025404" />
	<xacro:property name="erlecopter_lidar_joint_2_origin_xyz" value="0 0 0" />
	<xacro:property name="erlecopter_lidar_joint_2_origin_rpy" value="0 0 0" />
	<xacro:property name="erlecopter_lidar_joint_2_axis_xyz" value="0 0 0" />
	<xacro:property name="erlecopter_lidar_joint_3_origin_xyz" value="0 0 0" />
	<xacro:property name="erlecopter_lidar_joint_3_origin_rpy" value="0 0 0" />
	<xacro:property name="erlecopter_lidar_joint_3_axis_xyz" value="0 0 0" />
	<xacro:property name="erlecopter_lidar_joint_4_origin_xyz" value="0 0 0" />
	<xacro:property name="erlecopter_lidar_joint_4_origin_rpy" value="0 0 0" />
	<xacro:property name="erlecopter_lidar_joint_4_axis_xyz" value="0 0 0" />
	<xacro:include filename="/home/tbm/temp/test_urdf/erlecopter_lidar_joint_test_1.xacro" />
	<xacro:include filename="/home/tbm/temp/test_urdf/erlecopter_lidar_link_test_1.xacro" />	
	<xacro:macro name="erlecopter_lidar" params="instance parent_link">
		<xacro:erlecopter_lidar_link instance="${instance}"/>
		<xacro:unless value="${instance-1}">
			<xacro:erlecopter_lidar_joint instance="${instance}" 
			parent_link="${parent_link}"
			child_link="lidar_link_${instance}"
			joint_origin_xyz="${erlecopter_lidar_joint_1_origin_xyz}"
			joint_origin_rpy="${erlecopter_lidar_joint_1_origin_rpy}"
			joint_axis_xyz="${erlecopter_lidar_joint_1_axis_xyz}"
		/>
		</xacro:unless>
		<xacro:unless value="${instance-2}">
			<xacro:erlecopter_lidar_joint instance="${instance}" 
			parent_link="${parent_link}"
			child_link="lidar_link_${instance}"
			joint_origin_xyz="${erlecopter_lidar_joint_2_origin_xyz}"
			joint_origin_rpy="${erlecopter_lidar_joint_2_origin_rpy}"
			joint_axis_xyz="${erlecopter_lidar_joint_2_axis_xyz}"
		/>
		</xacro:unless>
		<xacro:unless value="${instance-3}">
			<xacro:erlecopter_lidar_joint instance="${instance}" 
			parent_link="${parent_link}"
			child_link="lidar_link_${instance}"
			joint_origin_xyz="${erlecopter_lidar_joint_3_origin_xyz}"
			joint_origin_rpy="${erlecopter_lidar_joint_3_origin_rpy}"
			joint_axis_xyz="${erlecopter_lidar_joint_3_axis_xyz}"
		/>
		</xacro:unless>
		<xacro:unless value="${instance-4}">
			<xacro:erlecopter_lidar_joint instance="${instance}" 
			parent_link="${parent_link}"
			child_link="lidar_link_${instance}"
			joint_origin_xyz="${erlecopter_lidar_joint_4_origin_xyz}"
			joint_origin_rpy="${erlecopter_lidar_joint_4_origin_rpy}"
			joint_axis_xyz="${erlecopter_lidar_joint_4_axis_xyz}"
		/>
		</xacro:unless>
	</xacro:macro>
</robot>
