<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/xacro">
	<xacro:property name="PI" value="3.1415926" />
	<xacro:include filename="/home/tbm/temp/test_urdf/test_conclusion_2/gazebo_joint_states_publisher.xacro"/>
	<xacro:macro name="erlecopter_lidar_joint" params="instance parent_link child_link joint_origin_xyz joint_origin_rpy joint_axis_xyz">
		<joint name="${namespace}/erlecopter_lidar_joint_${instance}" type="continuous">
			<origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}" />
			<parent link="${parent_link}" />
			<child link="${child_link}" />
			<axis xyz="${joint_axis_xyz}" />
		</joint>
		
		<gazebo>
			<plugin name="lidar_test_plugin_${instance}" filename="liblidar_test_plugin_3.so">
				<jointName>${namespace}/erlecopter_lidar_joint_${instance}</jointName>
				<velocity>6.283185307</velocity>
			</plugin>
		</gazebo>
		
		 <xacro:gazebo_joint_states_publisher joint_names="" lidar_instance="${instance}" />
		
	</xacro:macro>
</robot>
